.movies{
  width: 100%;
  padding: 25px 0px;
}
.movies .container-movies{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-gap: 15px;
  grid-row-gap: 25px;
}
.movie{
  grid-column: span 4;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px;
  transition: all .8s ease;
}
.movie:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px 2px;
}
.movie-poster{
  width: 100%;
  max-height: 430px;
  overflow: hidden;
}
.movie-poster img{
  width: 100%;
}
.movie .movie-title,
.movie .movie-year{
  padding: 5px;
}
@media(max-width:800px){
  .movie{
    grid-column: span 6;
  }
}