.anchor-title{
  margin-bottom: 15px;
  width: 60%;
  margin: auto;
  display: block;
  text-align: center;
}
.anchor-title .title{
  text-transform: uppercase;
}
@media(max-width:500px){
  .anchor-title{
    width: 100%;
  }
}